<ng-container *ngIf="(grilleState$|async) as state" [ngSwitch]="state.dataState">
  <ng-container *ngSwitchCase="dataStateEnum.LOADING">
    <ng-container *ngIf="isLoadingList">
      <app-loading5></app-loading5>
    </ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="dataStateEnum.SUCCESS">

    <div class="container-fluid">
    
        <!-- <app-page-title title="Customers" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->
      
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">
                  <div class="col-sm-4">
                    <div class="search-box me-2 mb-2 d-inline-block">
                      <div class="position-relative">
                        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="term" [(ngModel)]="service.searchTerm"/>
                        <i class="bx bx-search-alt search-icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="text-sm-end">
                      <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                        <i class="mdi mdi-plus me-1"></i> New Grille
                      </button>
                    </div>
                  </div>
                </div>
                <div class="table-responsive">
                  <table class="table align-middle table-nowrap">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>nom</th>
                        <th>montant</th>
                        <th>Type de grille</th>
                        <!-- <th>Rating</th>
                        <th>Joining Date</th> -->
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let grille of (grilleState$|async)?.grilles; let index = index" id="c_{{grille.id}}">
                        <td>
                          <div class="form-check font-size-16">
                            <input id="customCheck" type="checkbox" class="form-check-input" />
                            <label class="form-check-label" for="customCheck">&nbsp;</label>
                          </div>
                        </td>
                        <td>{{grille.name}}</td>
                        <td>
                          <p class="mb-1">{{grille.amount}}</p>
                        </td>
      
                        <td>{{grille.typeGrille}}</td>
                        <!-- <td>
                          <span class="badge bg-success font-size-12">
                            <i class="mdi mdi-star me-1"></i>
                            {{grille.rating}}
                          </span>
                        </td> -->
                        <!-- <td>{{grille.date | date: 'dd MMM, YYYY'}}</td> -->
                        <td>
                          <div class="dropdown" dropdown placement="bottom-right">
                            <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                              dropdownToggle aria-expanded="false">
                              <i class="mdi mdi-dots-horizontal font-size-18"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" *dropdownMenu>
                              <li><a href="javascript: void(0);" class="dropdown-item" (click)="editDataGet(grille.id,content)"><i
                                    class="fas fa-pencil-alt text-success me-1"></i>
                                  Edit</a></li>
                              <li><a href="javascript: void(0);" class="dropdown-item" (click)="delete(grille.id)"><i
                                    class="fas fa-trash-alt text-danger me-1"></i>
                                  Delete</a></li>
                            </ul>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- pagination -->
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                  <pagination
                    [totalItems]="(total | async)!" [(ngModel)]="service.page">
                  </pagination>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
      
      <!-- Standard Modal to create or update the grille-->
      <ng-template #content role="document" let-modal>
        <div class="modal-header">
          <h5 class="modal-title mt-0">Ajouter un element de grille tarifaire</h5>
          <button type="button" class="btn-close" aria-hidden="true" (click)="modalRef?.hide()"></button>
        </div>
        <div class="modal-body">
         <form (ngSubmit)="saveGrille()" [formGroup]="formData">
          <div class="row">
            <div class="col-12">
              <input type="hidden" name="id" value="" formControlName="name"/>
              <div class="mb-3">
                <label class="control-label">name</label>
                <input class="form-control" placeholder="Enter name" type="text" name="title" autocomplete="off" formControlName="name"
                    [ngClass]="{'is-invalid': submitted && form.name.errors}" />
                  <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <span *ngIf="form.name.errors.required">name is required.</span>
                  </div>
              </div>
              <div class="mb-3">
                <label class="control-label">Amount</label>
                <input class="form-control" placeholder="Enter amount" type="number" name="amount" autocomplete="off" formControlName="amount"
                    [ngClass]="{'is-invalid': submitted && form.amount.errors}" />
                    <div *ngIf="submitted && form.amount.errors" class="invalid-feedback">
                      <span *ngIf="form.amount.errors.required">Amount is required.</span>
                    </div>
              </div>
              <div class="mb-3">
                <label class="control-label">Type de grille</label>
                <ng-select
                  placeholder="Entrer le type"
                  formControlName="typeGrille"
                  [ngClass]="{'is-invalid': submitted && form['amount'].errors}"
                  >
                  <ng-option  [value]="typeGrilleEnum.ECONOMIQUE">{{typeGrilleEnum.ECONOMIQUE}}</ng-option>
                  <ng-option  [value]="typeGrilleEnum.STANDARD">{{typeGrilleEnum.STANDARD}}</ng-option>
                  <ng-option  [value]="typeGrilleEnum.CONFORT">{{typeGrilleEnum.CONFORT}}</ng-option>
                  <ng-option  [value]="typeGrilleEnum.PRESTIGE">{{typeGrilleEnum.PRESTIGE}}</ng-option>
                  <ng-option  [value]="typeGrilleEnum.PERSONALISEE">{{typeGrilleEnum.PERSONALISEE}}</ng-option>
                </ng-select>
              </div>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-soft-danger me-2" id="btn-cancel-event">
              Cancel
            </button>
  
            <button type="submit" id="btn-save-event" class="btn btn-soft-success btn-load">Ajouter
              <span *ngIf="submitted && (grilleState$|async).dataState == dataStateEnum.LOADING" class="d-flex align-items-center">
                <span class="spinner-border flex-shrink-0" role="status"></span>
                <span class="flex-grow-1 ms-2">Chargement...</span> 
              </span>
            </button>
          </div>
         </form>
        </div>
      </ng-template>
  </ng-container>
</ng-container>